.pull-right {
  float: right;
}
.table {
  width: 100%;
  margin-bottom: 20px;
  background-color: #071f3b;
  color: #c8b559;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #c8b559;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table-bordered th,
.table-bordered td {
  text-align: center;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  display: table;
}


.control-label {
  padding-top: 5px;
  text-align: right;
  padding-right: 10px;
}

#footer_payment{
text-align:center;
color: #071f3b;
background:#c8b559;
filter:alpha(opacity=70);
background-color: rgba(200, 181, 89, .7);
padding-right:50px;
}