#products_products{
  width: 100%;
  padding-right:50px;
  margin-top: 10%;
}

#productpic{
  height: 300px;
}

#footer_products{
    margin-top: 33%;
	padding-right:50px;
}

#name {font-size: 18px;line-height: 1.5em;}
.shopBtn {min-height: 34px;font-size: 14px;font-weight: bold;line-height: 34px;text-align: center;color: #fff;border-radius: 2px;background: #f89406;display:inline-block;padding:0 12px;border:0;}
.form-horizontal.qtyFrm .control-label{text-align: left;}
.form-horizontal.qtyFrm .control-label span{font-size:18px}
.carousel .item > img {display:inline;}

.row-fluid {
  width: 100%;
  padding-left:50px;
  padding-right:55px;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row-fluid .span5 {
  width: 40%;
  text-align:center;
}

.span5 {
  width: 380px;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
}

.span7 {
  width: 540px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
}

.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active {
  display: block;
}

.control-group {
  margin-bottom: 10px;
  display: table;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

/*responsive style*/

@media all and (max-width: 767px) {
.row-fluid .span5 {
  width: 100%;
}

#productpic{
  height: 200px;
}
.row-fluid [class*="span"] {
  float: none;
  text-align: center;
  width: 100%;
  min-height: 0px;
  margin-left: 0;
}
.form-horizontal .control-label {
  float: none;
  width: 100%;
  padding-top: 5px;
  text-align: center;
}
.form-horizontal.qtyFrm .control-label{text-align: center;}
.control-group {
  margin-bottom: 10px;
  display: block;
}

#footer_products{
    margin-top: 190%;
	padding-right:50px;
}
}


