<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/webicon.png') }}" />
	<title>{% block title %}天梁小舖{% endblock %}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- js files -->
	<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
	<script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	{% block jquery %}
    {% endblock %}
	<!-- css files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/rpg-awesome.css') }}" type="text/css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/productsalbum.css') }}" type="text/css">
	{% block css %}
    {% endblock %}
</head>
<style>
.channel{
  display:block;
  font-size: 15px;
  {% if status == 'ONLINE' %}
  visibility:visible;
  {% else %}
  visibility:hidden;
  {% endif %}
}
</style>

{% block EmbeddingJS %}
{% endblock %}

{% block EmbeddingCSS %}
{% endblock %}

{% block header %}
{% endblock %}

<body>
{% block content %}
{% endblock %}
<div id="btn_cart" style="cursor: pointer;">
    {% if session.CartCount %}
    <span style="position:relative; font-size:35px;"><i class="fa fa-shopping-cart"></i><b id="CartCount">{{session.CartCount}}</b></span>
	{% else %}
	<span style="position:relative; font-size:35px;"><i class="fa fa-shopping-cart"></i><b id="CartCount">0</b></span>
	{% endif %}
</div>
<div id="hecate_status">
	{% if status == 'ONLINE' %}
    <span style="position:relative; font-size:35px; color: #39A735;">
	  <h3 style="font-size:10px">在線狀態</h3>
	  <h2 id="status">{{status}}</h2>
	  <i class="ra ra-player-king"></i>
	  <h3 class="channel">分流</h3>
	  <h2 class="channel">{{channel}}</h2>
	</span>
    {% else %}
	<span style="position:relative; font-size:35px; color: #c1403b;">
	  <h3 style="font-size:10px">在線狀態</h3>
	  <h2 id="status">OFFLINE</h2>
	  <i class="ra ra-player-king"></i>
	  <h3 class="channel">分流</h3>
	  <h2 class="channel">0</h2>
	</span>
	{% endif %}
</div>
<div id="dialog-form" title="購物車明細">
  <form>
  <div style="text-align: right;">
    <label>共</label>
	{% if session.totalamount %} 
    <label id="totalamount">{{session.totalamount}}</label>
	{% else %}
	<label id="totalamount">0</label>
	{%endif %}
	<label>gold</label>
  </div>
  <table id="users" class="ui-widget ui-widget-content">
    <thead>
      <tr class="ui-widget-header">
        <th>品名</th>
        <th>價格</th>
        <th style="text-align: right;">數量</th>
		<th style="text-align: right;">移除</th>
      </tr>
    </thead>
    <tbody>
	    {% if session.PackCount and session.PackCount !=0 %} 
	    {% for i in range(0, session.PackCount |int) %}
        <tr style="height: 3em;">
          <td>{{session.name[i]}}</td>
          <td>{{session.price[i]}}</td>
          <td style="text-align: right; cursor: pointer;">{{session.quantity[i]}}</td>
	      <td class="remove" style="text-align: center; font-size: 1.6em; cursor: pointer;"><i class="fa fa-times"></i></td>
	    </tr>
        {% endfor %}
        {%endif %}		
    </tbody>
  </table>
  </form>
</div>
</body>
</html>