{% extends "base.html" %}
{% block title %}感謝您的購買{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css') }}" type="text/css">
{% endblock %}


{% block header %}
<header>
	<div class="nav-bar">
		<a href=""><i class="fa fa-bars"></i><span>MENU</span></a>
	</div>
	<nav>
		<ul>
			<li><a href="https://hecatemabitd.herokuapp.com" style="cursor: pointer;"><i class="fa fa-map-marker"></i> 回首頁 </a></li>
			<li><a href="https://hecatemabitd.herokuapp.com/products" style="cursor: pointer;"><i class="ra ra-crossed-swords"></i> 繼續購買 </a></li>
			<li><a href="https://hecatemabitd.herokuapp.com/products" style="cursor: pointer;"><i class="ra ra-scroll-unfurled"></i> 訂單查詢 </a></li>
			<li><a id="footer_payment-click"  style="cursor: pointer;"><i class="ra ra-wooden-sign"></i> 版權聲明 </a></li>
		</ul>
	</nav>
		
</header>
{% endblock %}
{% block content %}
<div id="blank"></div>
<div style="padding-right:50px;">
    <h2 style="text-align: center;">您的訂單編號為: {{code}}</h2>
	<h3><small class="pull-right" id="countsmalltext"> 請保留訂單編號用於訂單查詢 </small></h3>
    <table class="table" id="CartContent">
              <thead>
                <tr>
                  <th>產品名稱</th>
                  <th>單價</th>
                  <th>數量</th>
                  <th>小計</th>
				</tr>
              </thead>
              <tbody>
	            {% for i in range(0, Orderitem['PackCount'] |int) %}
                <tr>
                  <td><p>{{Orderitem['name'][i]}}</p><img src={{ url_for('static', filename=productdict[Orderitem['name'][i]][0]) }} title={{Orderitem['name'][i]}}></td>
                  <td>{{Orderitem['price'][i]}}</td>
				  <td>{{Orderitem['quantity'][i]}}</td>
                  <td>{{Orderitem['subtotal'][i]}}</td>
                </tr>
				{% endfor %}
                <tr>
                  <td colspan="3">購物總計:	</td>
                  <td>{{Orderitem['totalamount']}}</td>
                </tr>
				</tbody>
    </table>
    <table class="table table-bordered">
	    <tbody>
            <tr>
			    <td>
				    <h2>您此次的交易資料</h2>
				    <p style="font-size: 10px; margin-top: 10px;"><small>本站測試中，不會真的與您交易</small></p>
				</td>	
			</tr>
            <tr> 
		        <td>
			    <div class="form-horizontal" id="UserInfo">
			        <div style="display: inline-block;">
					    <div class="control-group">
					        <div style="display: inline-block;">
						        <label class="control-label">您的人物名稱: </label>
						    </div>
					        <div style="display: inline-block;">
						        {{User_id}}
						    </div>
					    </div>
					    <div class="control-group">
					        <div style="display: inline-block;">
						        <label class="control-label">希望交易時間: </label>
					  	    </div>
						    <div style="display: inline-block;">
						        {{Hope_time}}
						    </div>
					    </div>
					    <div class="control-group">
					        <div style="display: inline-block;">
						        <label class="control-label">希望交易分流: </label>
					        </div>
						    <div style="display: inline-block;">
						        {{Hope_channel}}
						    </div>
					    </div>
			        </div>
			        <div style="display: inline-block; padding-left: 10px;">
					    <div class="control-group">
					        <div>
						        <label>備註</label>
						    </div>
						    <div>
						        <p style="height:90px;">{{PS}}</p>
						    </div>
					    </div>
				    </div>
				    <div>
					    <button onclick="javascript:location.href='https://hecatemabitd.herokuapp.com/products'" class="ui-button ui-corner-all ui-widget" >繼續購物</button>
				    </div>
			    </div> 
			    </td>
			</tr>
        </tbody>
    </table>
</div>
<footer id="footer_payment">
    <strong style="font-family:Microsoft JhengHei; font-size: 3em;">版權聲明</strong>
    <p>
	  <br><strong>本站所有遊戲圖片以及數據皆由遊戲官方Nexon, Devcat, Gamania所有</strong></br>
	  <br><strong>若有任何侵權之疑慮請聯絡本站協助撤下內容</strong></br>
    </p>
</footer>
{% endblock %}