<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/webicon.png') }}" />
	<title>商品一覽</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- js files -->
	<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
	<!-- css files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/rpg-awesome.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/productdetail.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/productsalbum.css') }}" type="text/css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
  $(function() {
    $('a.allproducts').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_another_product', {
        productname: $(this).children("img").attr('title')
      }, function(data) {
        $('#productpic').attr("src", "static/"+data.resultpic);
		$('#name').text(data.resultname);
		$('#price').text(data.resultprice);
		$('#description').text(data.resultdescription);
		$('html,body').animate({scrollTop:$('.row-fluid').offset().top - 100}, 800);
      });     
      return false;
    });
  });
</script>


</head>
<header>
	<!-- responsive nav bar -->
	<div class="nav-bar">
		<a href=""><i class="fa fa-bars"></i><span>MENU</span></a>
	</div>
	<!-- navigation -->
	<nav>
		<ul>
			<li><a href="https://hecatemabitd.herokuapp.com" style="cursor: pointer;"><i class="fa fa-map-marker"></i> 回首頁 </a></li>
			<li><a id="products-click" style="cursor: pointer;"><i class="ra ra-crossed-swords"></i> 其他商品 </a></li>
			<li><a id="contactus-click"  style="cursor: pointer;"><i class="ra ra-wooden-sign"></i> 版權聲明 </a></li>
		</ul>
	</nav> <!-- navigation end -->
		
</header> <!-- header end -->
<div id="blank"></div>
<div id="btn_cart">
    <span style="position:relative; font-size:35px;"><i class="fa fa-shopping-cart"></i><b id="CartCount">0</b></span>
</div>
<body>
    <div class="row-fluid">
			  <div class="span5">
			    <div id="myCarousel" class="carousel slide cntr">
                    <div class="carousel-inner">
                      <div class="item active">
                       <img id="productpic" src="{{ url_for('static', filename=productdict[default][0]) }}" alt="">
                      </div>
                    </div>
                </div>
		  	  </div>
		  	  <div class="span7">
				  <h3 id="name">{{default}}</h3>
				  <hr class="soft"/>
				
				  <form class="form-horizontal qtyFrm">
				    <div class="control-group">
					  <label class="control-label" id="price"><span>${{productdict[default][3]}}</span></label>
				    </div>
				    <div style="margin-bottom:30px">
				      <p id="description">
				        {{productdict[default][4]}}
				      </p>
				    </div>
				    <button class="shopBtn"><span class=" icon-shopping-cart"></span> 放入購物車</button>
				  </form>
			  </div>
    </div>
 
    <div id="products">
      <p style="font-size: 3em; text-align: center; margin-bottom: 0.3em; border-bottom:thick dashed #FFBF00;">
        <strong>所有商品</strong>
	  </p>
      <ul class="album">
	    {% for product in productlist %}
        <li class="pic">
		  <a class="allproducts">
	    	  <img src="{{ url_for('static', filename=productdict[product][1]) }}" title={{product}}>
	      </a>
	    </li>
        {% endfor %}	  
      </ul>
    </div>
    <footer id="contactus" style="text-align:center; color: #191970; background:#FFBF00; filter:alpha(opacity=70); background-color: rgba(255, 191, 0, .7);">
      <strong style="font-family:Microsoft JhengHei; font-size: 3em;">版權聲明</strong>
      <p>
	    <br><strong>本站所有遊戲圖片以及數據皆由遊戲官方Nexon, Devcat, Gamania所有</strong></br>
	    <br><strong>若有任何侵權之疑慮請聯絡本站協助撤下內容</strong></br>
	  </p>
    </footer>
</body>